@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    background-color: #f0f0f0 !important;
    font-family: montserrat;
}

.header {
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
    height: 200px !important;
    background-image: url("https://vmjlol.github.io/ramais/img/telefone2.png");
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: relative !important;
}

.textHeader {
    border-radius: 10px !important;
    margin-left: 50px !important;
    padding: 50px !important;
    width: 500px !important;
    height: 50px !important;
    background: linear-gradient(90deg, rgb(22, 58, 116) 0%, rgb(7, 30, 68) 100%);
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.mainTable {
    display: flex;
    gap: 20px;
    background: linear-gradient(90deg, rgba(35, 84, 164, 1) 0%, rgba(17, 49, 102, 1) 100%);
    justify-content: space-evenly;
    zoom: 0.8;
    width: 90%;
}

.mainTable:hover {
    background: linear-gradient(90deg, rgba(35, 84, 164, 1) 0%, rgba(17, 49, 102, 1) 100%) !important;
}

td:hover {
    background: linear-gradient(90deg, rgba(35, 84, 164, 1) 0%, rgba(17, 49, 102, 1) 100%) !important;
}

fieldset {
    text-align: -webkit-center !important;
    border: none !important;
}

h1,
.aga2,
h3 {
    color: white !important;
    margin: 0 !important;
}

h2 {
    font-size: 23px !important;
}

h3 {
    font-size: 15px !important;
}

.tabela {
    display: flex !important;
    justify-content: space-around !important;
    margin-top: 30px !important;
    text-align: justify !important;
    justify-items: center !important;
    font-size: 25px !important;
}

th {
    background-color: #000;
    color: white !important;
}

table {
    display: flex;
    table-layout: fixed !important;
    gap: 0px !important;
    margin: 0;
}

table td,
table th {
    padding: 5px;
    line-height: 1.5;
    vertical-align: top;
    border: none !important;
}

.subtitle {
    font-weight: bold;
    background: #ffffff !important;
    text-align: center;
}

.telefones {
    display: flex !important;
    justify-content: center !important;
    gap: 10px !important;
    margin-top: 20px !important;
}

.divisao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

td {
    font-size: 1.1em;
    padding: 2px;
}

.container td,
.container h4 {
    color: white;
}

.container h4 {
    font-size: 20px;
    margin: 15px 0;
}

img {
    background-color: #fff;
    padding-left: 40px;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {

    * {
        font-size: 10px !important;
    }

    body {
        margin: 5px !important;
        display: flex !important;
        flex-direction: column !important;
    }

    .header {
        height: 100px !important;
        display: flex !important;
        justify-content: center !important;
    }

    .textHeader {
        zoom: 0.5 !important;
        margin: 0 !important;
    }

    h1,
    h2,
    .aga2,
    h3 {
        font-size: 20px !important;
    }

    .tabela {
        font-size: 20px !important;
    }

    table {
        width: 100% !important;
    }

    table tbody>tr:nth-child(odd)>td, table tbody>tr:nth-child(odd)>th {
        background-color: transparent !important;
    }

    td:hover {

    }

    .botoes {
        zoom: 0.5 !important;
    }

    .filtro {
        margin: 0 !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: space-around !important;
        gap: 10px !important;
    }

    img {
        zoom: 0.75;
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    .tabela {
        font-size: 20px !important;
    }


    .header {
        height: 100px !important;
        display: flex !important;
        justify-content: center !important;
    }

    .textHeader {
        zoom: 0.7 !important;
        margin: 0 !important;
    }

    .footer {
        height: 80px !important;
        display: flex !important;
        justify-content: center !important;
    }

    .textFooter {
        width: 60% !important;
        zoom: 0.7 !important;
        margin: 0 !important;
    }
    
    .mainTable { 
        zoom: 0.6;
    }

}

@media screen and (max-width: 640px) {

    body {
        width: 80%;
        margin: 0;
        padding: 0;
    }
    .divisao, table {
        margin-left: 20px;
    }
    .header {
        visibility: hidden;
        width: 50%;
    }

    .textHeader {
        visibility: visible !important;
        text-align: center;
        width: 90%;
    }

    .mainTable {
        display: flex;
        flex-direction: column;
    }

    img, .remove {
        display: none;
    }
}

@media screen and (max-width: 450px) {

    * {
        font-size: 8px !important;
    }

    body {
        width: 80%;
        margin: 0;
        padding: 0;
        font-size: 50%;
    }
    .divisao, table {
        margin-left: 10px;
    }
    .header {
        visibility: hidden;
        width: 50%;
    }

    .textHeader {
        visibility: visible !important;
        text-align: center;
        width: 90%;
    }

    .mainTable {
        display: flex;
        flex-direction: column;
    }

    img, .remove {
        display: none;
    }
}